body,
html {
    height: auto;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #1a1c24;
    color: #fff;
    font-family: sans-serif
}
@keyframes load {
    0%{
        opacity: 0.08;
/*         font-size: 10px; */
/* 				font-weight: 400; */
				filter: blur(5px);
				letter-spacing: 3px;
        }
    100%{
/*         opacity: 1; */
/*         font-size: 12px; */
/* 				font-weight:600; */
/* 				filter: blur(0); */
        }
}

.animate {
	display:flex;
	justify-content: center;
	align-items: center;
	height:100%;
	margin: auto;
/* 	width: 350px; */
/* 	font-size:26px; */
	font-family: Helvetica, sans-serif, Arial;
	animation: load 1.2s infinite 0s ease-in-out;
	animation-direction: alternate;
	text-shadow: 0 0 1px white;
}



header span {
    text-align: center
}

.newsletter {
    margin: auto;
    width: auto
}

.form-control {
    display: block;
    width: 50%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    margin-bottom: 10px
}

header {
    height: auto;
    background-color: #2a2e3d;
    text-align: center;
    padding: 5px;
    margin-bottom: 50px
}

button {
    background-color: #48697a;
    border: none;
    color: #fff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 12px
}

.pageclip-form {
    padding-top: 25px
}

#informationEmail {
    font-size: 12px
}

#top {
    margin: auto;
    width: 800px;
    height: 500px
}

#bottom {
    height: 500px;
    margin: auto;
    width: 100%;
    background-color: #2a2e3d
}

#faq {
    margin: auto;
    width: 800px;
    height: 500px
}

#nextsale {
    font-size: 50px
}

#info {
    color: #48697a;
    padding-top: 25px
}

footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 2px;
    text-align: center;
    padding: 5px
}

#status {
    background-color: #392b39;
    padding: 2px
}

#event {
    color: #48697a;
    font-size: 1.5em;
    padding-bottom: 15px
}

.rainbow {
    -webkit-animation: rainbow 5s infinite;
    -ms-animation: rainbow 5s infinite;
    animation: rainbow 5s infinite
}

@-webkit-keyframes rainbow {
    0% {
        color: orange
    }

    10% {
        color: purple
    }

    20% {
        color: red
    }

    30% {
        color: #5f9ea0
    }

    40% {
        color: #ff0
    }

    50% {
        color: coral
    }

    60% {
        color: green
    }

    70% {
        color: #0ff
    }

    80% {
        color: #ff1493
    }

    90% {
        color: #1e90ff
    }

    100% {
        color: orange
    }
}

@-ms-keyframes rainbow {
    0% {
        color: orange
    }

    10% {
        color: purple
    }

    20% {
        color: red
    }

    30% {
        color: #5f9ea0
    }

    40% {
        color: #ff0
    }

    50% {
        color: coral
    }

    60% {
        color: green
    }

    70% {
        color: #0ff
    }

    80% {
        color: #ff1493
    }

    90% {
        color: #1e90ff
    }

    100% {
        color: orange
    }
}

@keyframes rainbow {
    0% {
        color: orange
    }

    10% {
        color: purple
    }

    20% {
        color: red
    }

    30% {
        color: #5f9ea0
    }

    40% {
        color: #ff0
    }

    50% {
        color: coral
    }

    60% {
        color: green
    }

    70% {
        color: #0ff
    }

    80% {
        color: #ff1493
    }

    90% {
        color: #1e90ff
    }

    100% {
        color: orange
    }
}

@media only screen and (device-width:768px) {
    #nextsale {
        font-size: 25px
    }

    header {
        width: 100%;
        height: auto;
        background-color: #2a2e3d;
        text-align: center;
        padding: 5px;
        margin-bottom: 50px
    }

    #top {
        margin: auto;
        width: auto;
        padding: 15px;
        height: auto
    }

    #bottom {
        margin: auto;
        width: auto;
        padding: 15px;
        height: auto;
        background-color: #1a1c24
    }

    #faq {
        width: auto
    }

    footer {
        background-color: #2a2e3d;
        padding: 10px;
        bottom: 0
    }
}

@media only screen and (max-width:600px) {
    #nextsale {
        font-size: 25px
    }

    header {
        width: 100%;
        height: auto;
        background-color: #2a2e3d;
        text-align: center;
        padding: 5px;
        margin-bottom: 50px
    }

    #top {
        margin: auto;
        width: auto;
        padding: 15px;
        height: auto
    }

    #bottom {
        margin: auto;
        width: auto;
        padding: 15px;
        height: auto;
        background-color: #1a1c24
    }

    #faq {
        width: auto
    }

    footer {
        background-color: #2a2e3d;
        padding: 10px;
        bottom: 0
    }
}
